/* gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 15px;
  gap: 20px;
}
@media (max-width: 768px) {
  .gallery {
    justify-content: center;
  }
}
.photo-card {
  flex-basis: calc(20% - 10px);
  margin-bottom: 76px;
  text-align: center;
  height: 200px;
  width: 310px;
}

.photo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.photo-card .info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  gap:10px;
}
@media (max-width: 768px) {
  .photo-card .info {
    gap:10px;
  }
}
.photo-card .info-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #333;
}

.photo-card .info-item b {
  margin-left: 5px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .photo-card {
    flex-basis: calc(50% - 10px);
    gap: 20px;
  }
}

/* button load more */
.button-load-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-load-more:hover {
  background-color: #0056b3;
}

.button-load-more span[role='status'] {
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* form for search */
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  gap: 20px;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4);
}

.search-form input[type='text'] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-form button[type='submit'] {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form button[type='submit']:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}
/* .gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
} */
.end-message {
  text-align: center;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}
